html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}



[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline: 0
}


b,
strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}




* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #337ab7;
  text-decoration: none
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

figure {
  margin: 0
}

img {
  vertical-align: middle
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto
}

.img-rounded {
  border-radius: 6px
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto
}

.img-circle {
  border-radius: 50%
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}

[role=button] {
  cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-weight: 400;
  line-height: 1;
  color: #777
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
  font-size: 65%
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
  font-size: 75%
}

.h1,
h1 {
  font-size: 36px
}

.h2,
h2 {
  font-size: 30px
}

.h3,
h3 {
  font-size: 24px
}

.h4,
h4 {
  font-size: 18px
}

.h5,
h5 {
  font-size: 14px
}

.h6,
h6 {
  font-size: 12px
}

p {
  margin: 0 0 10px
}



ol,
ul {
  margin-top: 0;
  margin-bottom: 10px
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}

.list-unstyled {
  padding-left: 0;
  list-style: none
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px
}

dl {
  margin-top: 0;
  margin-bottom: 20px
}

dd,
dt {
  line-height: 1.42857143
}

dt {
  font-weight: 700
}

dd {
  margin-left: 0
}


.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.main-box {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  font-family: 'Source Han Sans';
  color: #fff;
}

.web-img {
  width: 100%;
  height: auto;
}

.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logo {
  background: #222F3F;
  opacity: 0.8;
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.btn {
  display: inline-block;
  background: #FFF;
  font-family: 'Source Han Sans';
  font-style: normal;
  font-weight: 400;
  color: #222F3F;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.btn:hover {
  text-decoration: none;
}

.btn:visited {
  text-decoration: none;
}

@media (max-width:767px) {
  .container {
    width: 7.5rem;
    height: 16.66rem;
    background: url('../images/m.jpg') no-repeat;
    background-size: contain;
  }

  .web-img {
    display: none;
  }

  .main-box {
    top: 7.8rem;
    padding: .44rem .68rem;
    font-size: .32rem;
    line-height: .5rem;
  }

  .logo-box {
    top: 3rem;
  }

  .logo {
    border-radius: 0px .7rem;
    font-size: .64rem;
    width: 3.6rem;
    height: 1.2rem;
  }

  .btn-box {
    top: 11.42rem;
  }

  .btn {
    border-radius: .1rem;
    width: 3rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .28rem !important;
  }
}


@media (min-width:768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 310px;
    padding: 18px;
    font-size: 14px;
  }

  .logo-box {
    top: 20%;
  }

  .logo {
    border-radius: 0px 0px;
    font-size: 32px;
    width: 300px;
    height: 60px;
  }

  .btn-box {
    top: 70%;
  }

  .btn {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
}

@media (min-width:992px) {
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }


  .main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    padding: 35px;
    font-size: 24px;
  }

  .logo-box {
    top: 20%;
  }

  .logo {
    border-radius: 0px 0px;
    font-size: 48px;
    width: 500px;
    height: 100px;
  }

  .btn-box {
    top: 70%;
  }

  .btn {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }


  .main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    padding: 35px;
    font-size: 24px;
  }

  .logo-box {
    top: 20%;
  }

  .logo {
    border-radius: 0px 0px;
    font-size: 64px;
    width: 700px;
    height: 120px;
  }

  .btn-box {
    top: 70%;
  }

  .btn {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
  }
}
